@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #FFF9E6;
}

/* HOME PAGE */

.app_bar {
    height: 60px;
    background-color: #FFA500;
    padding: 10px;
    box-shadow: 0px 0px 6px rgba(18, 18, 18, 0.6);
    display: flex;
    color: #f1f1f1;
    font-size: 24px;
    align-items: center;
    justify-content: space-between;
}

.app_bar i {
    color: #f1f1f1; 
}

.app_logo {
    flex: 2;
    text-align: center;
}

.app_logo img {
    width: 50px;
    height: 50px;
}

main {
    padding: 20px;
}

main h1 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}

.itens_list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.item_card {
    width: 250px;
    position: relative;
    overflow: hidden;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 15px;
    box-shadow: 0px 0px 2px rgba(18, 18, 18, 0.3);
    margin: 5px;
}

.item_card .item_image {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.3;
}

.item_card .card_content {
    position: relative;
    padding: 10px;
}

.item_card .card_content h2 {
    font-size: 20px;
    margin-bottom: 50px;
}

.item_card .card_content .item_price {
    font-size: 22px;
}

.item_card .card_content .item_price .less_price {
    font-size: 16px;
}

.item_rating {
    display: flex;
    align-items: center;
    color: #FFDB58;
    margin-bottom: 10px;
}

.item_card .item_options {
    display: flex;
}

.option_detail {    
    flex: 2;
    text-decoration: none;
    color: #333;
    background-color: #f1f1f1;
    text-align: center;
    padding: 7px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.icon_option {
    /*text-align: center;*/
    background-color: rgba(255, 255, 255, 0.5);
    padding: 7px;
    border-radius: 100%;
    margin-left: 5px;
    display: flex;
}

/* DETAILS PAGE */



.header_details {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 250px;
}

.header_details img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.header_details .option_details {
    position: relative;
    display: flex;
    padding: 15px;
    justify-content: space-between;
}

.header_details .option_details .icons_right {
    display: flex;
}

.header_details .icon_option {
    font-size: 18px;
}

.header_details .option_details a {
    text-decoration: none;
    color: black;
}

.main_details {
    width: 100%;
    position: absolute;
    border-radius: 14px;
    background-color: #FFF9E6;
    top: 240px;
}

.info_details .item_rating p {
    color: #333;
    font-size: 14px;
    margin-left: 5px;
}

.info_details .description_details {
    font-size: 14px;
    color: #222;
    text-align: justify;
}

.info_details .gallery_details {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.info_details .gallery_details .gallery_image {
    flex: 1;
    margin: 5px;
}

.info_details .gallery_details .gallery_image img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    box-shadow: 0px 0px 5px rgba(18, 18, 18, 0.3);
}

.info_details .buy_item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info_details .buy_item .price_item {
    font-size: 22px;
    font-weight: bold;
    margin-right: 30px;
}

.info_details .buy_item .option_detail {
    background-color: #FFA500;
    color: #FFF9E6;
}

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 999;
    padding: 1em;
}

.lightbox:target {
    display: block;
}

.lightbox span {
    display: block;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;    
    background-size: contain;
}

.lightbox span p {
    text-align: center;
    position: relative;
    top: 70vh;
}

/* CONFIRM ORDER */

.order_itens {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.order_itens .order_card {
    display: flex;
    background-color: #ddd;
    height: 180px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #333;
}


.order_itens .order_card .card_image {
    flex: 1.5;
}

.order_itens .order_card .card_image img {
    width: 100%;
    height: 100%;
}

.order_itens .order_card .card_details {
    flex: 2;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.order_itens .order_card h2 {
    font-size: 26px;
}

.order_itens .order_card #iten-price {
    font-size: 22px;
    font-weight: bold;
}

.order_itens .order_card p {
    color: #666;
}

.order_itens .button_confirm {
    width: 80%;
    margin-top: 30px;
    background-color: #25d366;
    text-decoration: none;
    color: #fff;
    padding: 20px 0;
    border-radius: 100px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.order_itens .button_confirm i {
    margin-right: 10px;
}